body {
    background-color: #99000d;
  }

.page {
    width: 1280px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 70px;
    padding-top: 35px;
    box-shadow: 5px 8px;
    background-color: white;
}

.break{
    page-break-before: always;
}

h1 {
    font-family: 'Libre Baskerville', serif;
}

h2 {
    font-family: 'Libre Baskerville', serif;
}

.dotMap {
    width: 1200px;
    height: 600px;
}

.article_col {
    font-size: 18px;
    text-align: justify;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 1.6;
}

.award_col {
    font-size: 20px;
    text-align: justify;
    margin-left: 15px;
    margin-right: 50px;
    line-height: 1.6;
}

.bold {
    font-weight: bold;
}

.bold_red {
    font-weight: bold;
    color: #cb181d;
}

.half {
    width: 100%;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

#word_cloud{
    margin-top: 70px;
}
